
<h1> Diffrent Type Of ActionResults </h1>

@Html.ActionLink("View", "ViewExample", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
@Html.ActionLink("Partial View", "PartialViewExample", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
@Html.ActionLink("Redirect", "RedirectExample", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
@Html.ActionLink("Json", "JsonExample", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
@Html.ActionLink("Content", "ContentExample", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
@Html.ActionLink("File", "FileExample", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
@Html.ActionLink("RedirectToAction", "RedirectToAction", "ActionResult", null, new { @class = "btn btn-info .col-md-4 mx-auto" })